// global variables
$dark0: #1d1d1d;
$dark1: #2f2f2f;
$light0: #F9F5D7;
$light1: #D5C4A1;

// global fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// import section-specific styles
@import 'home';

// overall styles
* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: $light0;
}
